@media (max-width: 1365px) {
    .layout {
        grid-template-areas:
            "nav nav"
            "content content"
            "aside aside";

        grid-template-columns: 50% 50%;
    }

    .aside__container{
        display: flex;
        flex-direction: row;
    }

    .layout__aside{
        margin-left: 2rem;
        padding-bottom: 2rem;
    }

    .aside__profile-info{
        margin-right: 2rem;
    }

}

@media (max-width: 845px) {
    .aside__profile-info{
        width: 100%;
    }

    .profile-info__general-info{
        justify-content: center;
    }

    .profile-info__stats{
        justify-content: center;
    }

    .aside__container{
        flex-direction: column;
    }
}


@media (max-width: 600px){
    .layout{
        grid-template-rows: auto auto auto;
    }

    .layout__navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        min-height: auto;
        padding: 1rem 1rem;
    }

    .navbar__container-lists{
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;    
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-backgroud-navbar);
        box-shadow: 0px 0px 0px 100vmax rgba(0, 0, 0, 0.5);
        width: 40%;
        opacity: 1;
    }

    .navbar__visible{
        opacity: 1;
        visibility: visible;
    }

    .container-lists__menu-list{
        flex-direction: column;
        align-items: normal;
        padding-top: 60px;
    }

    .close-button {
        display: block;
        position: fixed;
        top: 2rem;
        right: 2rem;
    }

    .container-lists__list-end{
        flex-direction: column;
        align-items: normal;
    }

    .menu-list__link{
        display: block;
    }

    .list-end__link, .list-end__link-image{
        display: block;
    }

    .list-end__link-image{
        padding: 0.5rem 1rem;
    }

    .hamburger-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        height: 35px;
        width: 35px;
    }
}


/* @media (max-width: 447px) {
    .profile-info__stats{
        flex-direction: column;
        align-items: normal;
    }

    .stats__following:first-child{
        padding: 0; 
    }
    
    .stats__following{
        padding: 0;
        border-right: none;
    }
} */

